body {
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    background: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-superior {
    justify-content: space-between;
}

.nav-bar {
    background-color: #0d3257;
    padding-top: 5px;
}

.user-img {
    width: 35px;
    margin-left: 15px;
}

.img-logo {
    width: 250px;
}

.img-logo-simplificada {
    width: 30px;
}

.nav-item {
    background-color: #f44926;
    border-radius: 15px;
    color: white;
    text-align: center;
    margin: 0 5px;
    padding: 7px;
}

.navbar-itens {
    justify-content: center;
}

.fundo_conteudo {
    background-color: #143e68c2;
    text-align: justify;
    justify-content: center;
    border-radius: 15px;
    color: white;
    width: 100%;
}

footer {
    color: #c8ff16;
    background-color: #0d3257;
    margin-top: 25px;
    bottom: 0;
    left: 0;
    padding: 20px;
}